*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.618;
  font-family: sans-serif;
  color: #444;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

fieldset,
button {
  border: 0;
}



/* layout of login section provided */
.login {
  padding: 100px;
  width: calc(40vh - 30px);
  min-width: 410px;
  margin: 0 auto;
}

.btn {
    background-color: white;
    display: inline-block;
}

.active {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 60px;
    font-weight: bold;
    font-size: larger;
}

.in-active {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.537);
}

fieldset {
    display: list-item;
}

.cell {
    display: list-item;
    padding: 10px;
    margin: 1px 0px 10px;
}

.reset-link {
    padding:10px 0px;
    font-size: smaller;
    color: rgba(58, 58, 58, 0.766);
}

.btn-primary {
    margin-top: 10px;
    padding: 10px 20px;
    display: list-item;
    background-color: rgba(0, 180, 0, 0.699);
    font-weight: bold;
    font-size: small;
    color: white;
    border-radius: 10%;
    
}

.feature-list {
    padding-top: 30px;
    color: rgba(68, 68, 68, 0.541);
    list-style: none;
    font-size: smaller;
}
/* layout of call-to-action section provided */

.header {
  /* text-size-adjust: auto; */
  width: calc(60vw - 200px);
  max-width: 700px;
  min-width: 60%;
  max-height: 400px;
  font-size: xx-large; 
  padding: 0 auto;
}
h2 {
  font-size: calc(2rem + 2vh);
  margin: 0 10%;
}

p { 
  font-size: calc(1rem + 1vh);
  margin: 0 10%;
  margin-top: 4vh;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68%;
  min-width: none;
  height: 100%;
  background: rgb(24, 48, 89);
  color: white;
  padding: 0 20px;
  
}
